body {
  background-color: #1B998B;
}

h2 {
  -webkit-text-stroke: 1px black;
  font-family: 'Mogra', cursive;
  font-size: 50px;
  padding: 5px;
  margin: 0;
  color: #ED217C;
}

#myCanvas {
  background-color: #2D3047;
  border-radius: 30px;
  border: 8px solid black;
}

h2 {
  display: flex;
  justify-content: center;
}

.game {
  display: flex;
  align-items: center;
  flex-direction: column;
}

// $teal: #1B998B;
// $pink: #ED217C;
// $navy: #2D3047;
// $yellow: #FFFD82;
// $peach: #FF9B71;
