body {
  background-image: url('http://res.cloudinary.com/dqr2mejhc/image/upload/c_scale,w_612/v1497818771/canvas_back_qu92rm.png');
  background-repeat: repeat;
}

h2 {
  -webkit-text-stroke: 1px black;
  font-family: 'Mogra', cursive;
  font-size: 50px;
  padding: 5px;
  margin: 0;
  color: #ED217C;
}

#myCanvas {
  background-image: url('http://res.cloudinary.com/dqr2mejhc/image/upload/c_scale,w_626/v1497818772/space_back_2_keyyer.png');
  display: block;
  background-repeat: repeat;
  border-radius: 30px;
  border: 8px solid black;
  width: 40%;
}

h2 {
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

// $teal: #1B998B;
// $pink: #ED217C;
// $navy: #2D3047;
// $yellow: #FFFD82;
// $peach: #FF9B71;
